{{> navbar}}
<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="">You get a Cloud! You get a Cloud! You all get a Cloud!</h1>
    <img src="/img/oprah-free-cloud.gif" />
  </div>
</div>