{{> navbar}}
<div class="container mt-5">
  <div class="jumbotron">
    <h1>Version 1.0.0</h1>
    <p>
  ulala feautures (could) include:
      <ul>
        <li>Client-side encyption with multiple strategies</li>
        <li>Faster data transfer using patching</li>
        <li>Multiple client support</li>
      </ul>
      download <a href="/bun/spc.zip">here</a>


    </p>
  </div>
</div>