{{> navbar}}
<div class="container mt-5">
  <div class="container text-center">
    <h1>Welcome to {{title}}</h1>
    <p>This is a project is approved by boris. We also recieved 2 gopnik appeciation awards from him.</p>
    <h2>Gopnik award 2018</h2>
    <img src="/img/gopnik-award.jpg" style="max-width:100%" />
    <h2>Gopnik award 2019 (it will happen, for sure, boris approved.)</h2>
    <img src="/img/gopnik-award2.jpg" style="max-width:100%" />
  </div>
</div>