<link rel="stylesheet" type="text/css" href="/css/form.css" />
{{> flash}}
<div class="container" style="margin: auto auto;">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h1 class="text-center font-weight-light">oprah-spc</h1>
          <h5 class="card-title text-center">register</h5>
          <form class="form-signin" action="/register" method="POST">
            <div class="form-label-group">
              <input name="username" type="username" id="username" class="form-control" placeholder="Username" required autofocus>
              <label for="username">Username</label>
            </div>
            <div class="form-label-group">
              <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">register</button>
            <div class="text-center mt-3">
              Already a user? <a href="/login">login</a> here.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
