<!DOCTYPE html>
{{!-- <!--
  Ooh oops! all those fucking aweseme sexy videos on the internet
  and you decided to look into these boring lines of code?
  interesting indeed!
  Can we argue that curiosity has deeper root in you
  than simply seeking a pointless orgasm?
--> --}}
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" />
    <script src="/js/swal2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/basic.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
